.gradient-div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content:center ;
    background: linear-gradient(to bottom, #0e3514 , transparent 30%);

    
  }
  
  
 .explore-para-div-container{
    outline: none;
    display: flex;
    flex-direction: column;

    transform: none;
 }

 .explore-first-para{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 72px;
    font-weight: 700;
    letter-spacing: -2.1px;
    /* line-height: 76.88px; */
    text-align: center;
    color: rgb(255, 255, 255);
 }

 .explore-second-para{
    position: relative;
    bottom: 9rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 72px;
    font-weight: 700;
    letter-spacing: -2.1px;
    /* line-height: 76.88px; */
    text-align: center;
    color: rgb(255, 255, 255);
 }

 .explore-first-span{
    color: rgb(235, 255, 37);
 }

 .explore-first-small-para{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(231, 231, 234);
    font-size: 24px;
    position: relative;
    bottom: 13rem;
 }

 .explore-image-div-container{
   /* border:2px solid red; */
    width:80%;
    margin: auto;
    position: relative;
    bottom: 11rem;
    display: flex;
    justify-content: center;
 }

.explore-main-div-container{
    width: 100%;
}
.explore-image{
   margin: auto;
}