

.Nav-left{
    width: 100%;
    height: 85px;
    background-color: #08130a;
    flex: none;
    border: 1px rgba(134, 130, 130, 0.1);;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    opacity: 1;

    /* transform: translate(-50%); */
    width: 100%;
    z-index: 5
}

.Nav-left-mini{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: min-content;
    justify-content: space-between;
    overflow: visible;
    padding: 20px 120px;
    position: relative;
}

.main-content{
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: 36px;
    justify-content: center;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 148px;
}

.image-container{
    width: 100%;
    height: 100%;
    aspect-ratio: inherit;
}

.svg-container{
    /* border: 2px solid red; */
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    top: 30px;
}

.svg-container-image{
    border: 2px solid yellow;
    
    width: 105%;
    padding: 20px;
    height: 50%;
}

.academy{
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    --extracted-r6o4lv: rgb(251, 251, 251);
    --framer-paragraph-spacing: 4px;
    transform: none;
    opacity: 1
}

.para-academy{
    cursor: pointer;
    /* --font-selector: R0Y7TmV1cmlhbCBHcm90ZXNrLXJlZ3VsYXI=;
    --framer-font-family: "Neurial Grotesk", sans-serif;
    --framer-font-size: 14px;
    --framer-text-color: var(--extracted-r6o4lv, rgb(251, 251, 251)); */

}

.anch-academy{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    /* text-transform: uppercase; */
}


.anch-academy:hover{
  color: #EBFF25;
}
.left-content{
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 34px;
    height: min-content;
    justify-content: flex-start;
    overflow: visible;
    padding: 0;
    position: relative;
    width: min-content;
}

.button-container {
    display: flex;
    /* height: 48px; */
    position: relative;

    /* width: 1100% !important; */
    /* border: 2px solid yellow; */
  }
  
  .anch-div-main {
    display: flex;
   /* Display the container as a flex container */
  }

  .anch-button:hover{
    background: linear-gradient(85.8452deg, rgb(255, 255, 0) 29.1667%, rgb(76, 255, 128) 100%);
    animation: glow 1s infinite alternate;
  }

  @keyframes glow {
    0% {
      box-shadow: 0 0 5px rgba(255, 255, 0, 0.5);
    }
    100% {
      box-shadow: 0 0 20px rgba(255, 255, 0, 0.8);
    }
  }
  
  
  .anch-button {
    backdrop-filter: blur(5px);
    background: linear-gradient(85.8452deg, rgb(212, 249, 56) 29.1667%, rgb(50, 216, 117) 100%);
    /* height: 100%; */
    opacity: 1;
    padding: 0px 30px 0px 30px;
    transition: background 0.3s;
    border-radius: 8px;
    box-shadow: none;
    display: flex; /* Display the anchor as a flex container */
    align-items: center; /* Center the content vertically */
    /* Add padding to the anchor */
    text-decoration: none; /* Remove the default underline style */
    color: #fff; /* Text color */
    font-weight: 700;
    font-family:  Arial, Helvetica, sans-serif; /* Use a specific font or a fallback font */
    text-transform: uppercase;
    white-space: nowrap;
  }
  

  
  .anch-p {
   color: black;
   font-weight: 700;

  }
  