.trade-para{
    font-size: 96px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 96px;
    font-weight: 700;
    letter-spacing: -4.19px;
    line-height: 100px;
    text-align: center;
    color: rgb(255, 255, 255);
    top: 50px;
}


.trade-para > span {
    text-transform: lowercase;
    background: linear-gradient(96.57738454118163deg, rgba(212, 249, 56, 1) 0%, rgba(213, 250, 57, 1) 100%);
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent; 
    transition: text-shadow 0.3s ease;
    text-shadow: 0 0 15px rgba(255, 255, 0, 0.7);
  }
  
.trade-main-container{


    width: 100%;
    text-align: center;
}

.trade-main-bottom-container{

    width: 100%;
    text-align: center;
}

.after-trade-para{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    color: rgb(231, 231, 234);
    text-transform: capitalize;
}

.button-container {
    display: flex;
  
    position: relative;
    justify-content: center;
  
  }
  
  .anch-div-main {
    display: flex;
    margin-left: 20px;

  }

  .anch-button:hover{
    background: linear-gradient(85.8452deg, rgb(255, 255, 0) 29.1667%, rgb(76, 255, 128) 100%);
    animation: glow 1s infinite alternate;
  }

  @keyframes glow {
    0% {
      box-shadow: 0 0 5px rgba(255, 255, 0, 0.5);
    }
    100% {
      box-shadow: 0 0 20px rgba(255, 255, 0, 0.8);
    }
  }
  
  
  .anch-button {
    backdrop-filter: blur(5px);
    background: linear-gradient(85.8452deg, rgb(212, 249, 56) 29.1667%, rgb(50, 216, 117) 100%);

    opacity: 1;
    padding: 0px 30px 0px 30px;
    transition: background 0.3s;
    border-radius: 8px;
    box-shadow: none;
    display: flex; 
    align-items: center; 
    text-decoration: none;
    color: #fff; 
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif; 
    text-transform: uppercase;
    white-space: nowrap;
  }
  .anch-p {
    color: black;
    font-weight: 700;
 
   }
   



   .anch-div-main-2 {
    border: 1px solid rgba(255, 255, 255, 0.6) 0;
    display: flex;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    --extracted-r6o4lv: rgb(255, 255, 255);
    --framer-link-text-color: rgb(0, 153, 255);
    --framer-link-text-decoration: underline;
    --framer-paragraph-spacing: 0px;
    transform: none;
    opacity: 1;
    margin-left: 20px;
 
  }

  .anch-button-2:hover {
    background: linear-gradient(85.8452deg, rgb(37, 37, 36) 29.1667%, rgb(17, 17, 17) 100%);
    animation: glow-2 1s infinite alternate;
  }
  @keyframes glow-2 {
    0% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Increase the opacity and blur radius */
    }
    100% {
      box-shadow: 0 0 30px rgba(255, 255, 255, 1); /* Further increase the opacity and blur radius */
    }
  }
  
  .anch-button-2 {
    backdrop-filter: blur(5px);
    /* background: black; */
    border: 1px solid #303030;
    opacity: 1;
    padding: 0px 10px 0px 10px;
    transition: background 0.3s;

    display: flex; 
    align-items: center; 
   
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-family: Arial, sans-serif;
    white-space: nowrap;
    --border-bottom-width: 1px;
    --border-color: rgba(202, 197, 197, 0.2);
    --border-left-width: 1px;
    --border-right-width: 1px;
    --border-style: solid;
    --border-top-width: 1px;
    background-color: rgb(18, 18, 18);
    height: 100%;
    width: 100%;
   
    opacity: 1;
    border-radius: 8px;
    box-shadow: rgba(255, 255, 255, 0.6) 0
  }
  .anch-p-2 {
    color: white;
    font-weight: 700;
 
   }
   
.anch-div-main-container-2 .anch-div-scanner {
    color: yellow;

    
  }